@layer layout, utilities;

@layer utilities {
    .mb-0 {
        margin-bottom: 0;
    }
    .mt-1rem {
        margin-top: 1rem;
    }

}

@layer layout {
    html {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    *,
     *::before,
      *::after {
        box-sizing: inherit;
      }

    body {
        margin: 0;
        padding: 0;
        background-color: rgb(230, 255, 255);
    }

    
    /* || HEADER AND MAIN NAVIGATION*/
    header {
        background-color:  rgb(22, 64, 106);
        text-align: center;
        box-shadow: 0 0 1em black;
        position: fixed;
        top: 0;
        width: 100%;
    }

    header h1 {
        color: white;
        margin: 0.3em 0;
    }

    .top-nav {
        background-color:  rgb(13, 38, 63);
        display: flex;
        justify-content: space-between;
    }

    .t-ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .t-ul li {
        border-left: 1px solid rgb(212, 228, 247);
    }

    .t-li {
        list-style-type: none;
    }

    .t-ul .t-li-1 {
        border-left: 0;
    }

    .t-li a, .t-li span {
        color: rgb(255, 255, 255);
        display: block;
        padding: 0.6rem;
        text-decoration: none;
        font-size: 1.2rem;
        transition: 0.3s;
    }

    .t-li .t-a1 {
        border-left: 0;
    }

    .t-li a:hover, .t-li a.active, .t-li span:hover {
        color: rgb(13, 38, 63);
        background-color: rgb(212, 228, 247);
    }

    .t-li span {
        cursor:pointer;
        border-right: 1px solid rgb(212, 228, 247);
        height: 2.6rem;
    }

    /* || SIDENAV */
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      /* top: 3.61rem; */
      left: 0;
      background-color: rgb(9, 26, 42);
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 2.5rem;
      /* box-shadow: 0 1rem 1em black; */
    }
      
    .sidenav a {
      padding: 0.6rem;
      text-decoration: none;
      font-size: 1.2rem;
      color: rgb(189 189 189);
      display: block;
      transition: 0.3s;
    }
      
    .sidenav .closebtn {
      position: absolute;
      top: -5px;
      right: 6px;
      font-size: 2rem;
      margin-left: 50px;
      padding: 0.2rem;
    }

    .closebtn:hover {
        color: rgb(255, 255, 255);
    }

    .sidenav ul {
        padding: 0;
        margin: 0;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }


    /* || FORM STYLES */
    button,
    input,
    select,
    textarea {
        font-family: inherit;
        font-size: 100%;
        width: 150px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .form-button, .form-input, .form-select {
        width: 100%;
    }

    input[type="checkbox"]{
        width: revert;
    }

    input[type="radio"] {
        width: 1rem;
    }
    .form-h {
        margin: 0;
        margin-bottom: 1rem;
        text-align: center;
    }

    .form-box {
        box-shadow: 0 0 1em rgb(148, 155, 163);
        border-radius: 1rem;
        padding: 3rem;
        background-color: rgb(255, 255, 255);
        width: 30rem;
        margin: 0 auto;
        margin-top: 9rem;
        margin-bottom: 1.8rem;
    }

    .form-box h2 {
        text-align: center;
    }

    .input-box {
        min-height: 4rem;
        margin-bottom: 1rem;
    } 

    .form-button, input, select {
        border-radius: 0.3rem;
    }

    input[type="text"], input[type="password"], input[type="email"], input[type="tel"], .form-select, input[type="number"] {
        height: 2.5rem;
        padding: 0 0.7rem;
        border: 1px inset rgb(118, 118, 118);
    }

    .form-button[type="submit"] {
        height: 2.5rem;
        color: rgb(255, 255, 255);
        background-color: rgb(88, 153, 218);
        border: none;
        transition: 0.3s;
    }

    .form-button:hover {
        background-color: rgb(88, 153, 218, 0.8);
    }

    .form-label {
        font-weight: bold;
    }

    .form-radio {
        display: inline-block;
        padding: 0 1rem;
        margin-top: 0.6rem;
    }

    .error {
        color: rgb(255, 0, 0);
    }

    .success {
        /* font-weight: bold; */
        text-align: center;
        color: rgb(0, 128, 0);
        background-color: rgb(0, 128, 0, 0.22);
        margin: 1rem 0;
        padding: 1rem;
        border: 1px solid rgb(0, 128, 0, 0.25);
        border-radius: 0.5rem;
    }

    fieldset {
        margin-bottom: 1rem
    }

    fieldset h3 {
        margin: 0 0 1rem;
    }

    .voter-form {
        width: 32rem;
        padding: 2rem;
    }
    .form-box.candidate {
        width: 27rem;
    }
    .candidate .input-box {
        min-height: 0;
        /* ma */
    }

    /* TABLE STYLES */
    
    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        /* border: 3px solid purple; */
      }
    
    th, td {
        padding: 0.6rem;
    }

    tbody td {
        text-align: center;
    }

    thead,
    tfoot {
      background: url(leopardskin.jpg);
      color: white;
      text-shadow: 1px 1px 1px black;
    }

    thead th,
    tfoot th,
    tfoot td {
      background: linear-gradient(
        to bottom,
        rgba(28, 83, 151, 0.1),
        rgba(28, 83, 151, 0.5)
      );
      /* border: 3px solid purple; */
    }
    
    /* zebra striping */

    tbody tr:nth-child(odd) {
        background-color: rgb(233, 241, 251);
    }
  
    tbody tr:nth-child(even) {
        background-color: rgb(212, 228, 247);
    }
  
    tbody tr {
        background-image: url(noise.png);
    }
  
    table {
        background-color: rgb(212, 228, 247);
        }

    caption {
        padding: 0.5rem;
        /* font-weight: bold; */
        caption-side: top;
        color: white;
        text-align: center;
        letter-spacing: 1px;
        background-color: rgb(28, 83, 151);
        font-size: 1.3rem;
      }
  
    table button {
        padding: 0.4rem;
        width: 6rem;
        border: 1px solid rgb(148, 155, 163);
        border-radius: 1rem;
    }

    table button:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }
    
    .table-container {
        margin: 0 auto;
        padding: 1rem;
        margin-top: 9rem;
        background-color: rgb(255, 255, 255);
        border-radius: 1rem;
        box-shadow: 0 0 1em rgb(148, 155, 163);
        width: 91vw;
    }

    .partylist-table {
        max-width: 43rem;
    }

    .partylist-table .th-name {
        width: 60%;
    }

    .voter-table th.actions {
        width: 30%;
    }

    .table-container.result {
        width: 52rem;
        padding: 1rem;
    }
    
    table.result {
        margin: 1rem 0;
    }

    th.rank {
        width: 5rem;
    }

    /* || TYPOGRAPHY */
    h2.result {
        margin-top: 9rem;
        text-align: center;
    }
}
